@{
    ViewData["Title"] = "Gerenciamento de pedido";
}

<div class="row justify-content-center mt-5">
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-credit-card-2-back-fill"></i>
                    <p class="text-center m-0 ms-1">Área de Gestão</p>
                </div>
            </div>

            <div class="card-body">
                <p class="fst-italic fw-semibold mb-1">
                    <i class="bi bi-person-fill"></i> João Mantovani
                </p>

                <p class="fst-italic text-secondary  m-0">
                    <i class="bi bi-stopwatch-fill"></i>
                    <span id="calendar"></span> - <span id="clock"></span>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
        
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm rounded-top">
                <thead class="table-dark ">
                    <tr class="text-center fw-normal">
                        <th scope="col">N° Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>001</td>
                        <td>karina Moreira</td>
                        <td>R$: 231,00</td>
                        <td>
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>002</td>
                        <td>Natalia Ucci</td>
                        <td>R$: 300,00</td>
                        <td>
                            <i class="bi bi-check-circle-fill text-success"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/order-management-clock.js" asp-append-version="true" defer></script>
}
